.aHover {
  height: 2px;
  animation: menuHover 1s 1 linear both;
  /* outline: solid 2px red; */
}

@keyframes menuHover {
  0% {
    background-color: var(--colorMenu);
    transform: translateX(100%);
  }

  100% {
    background-color: var(--colorMenu);
    transform: translateX(90%);
  }
}
