.aHover {
  height: 2px;
  animation: menuHover 0.6s 1 ease-in both;
  /* outline: solid 2px red; */
}

@keyframes menuHover {
  0% {
    background-color: var(--colorMenu);
    transform: translateX(100%);
  }

  100% {
    background-color: var(--colorMenu);
    transform: translateX(80%);
  }
}
