@font-face {
  font-family: kalam, sans-serif;
  src: url(/src/assets/fonts/Kalam-Bold.ttf);
}

:root {
  --tekstFont: kalam;

  --fontWeight1: 700;
  --fontWeight2: 400;
  --fontWeight3: 300;

  --h1: 2.986rem;
  --h2: 2.488rem;
  --h3: 2.074rem;
  --h4: 1.728rem;
  --pSize: 1rem;

  --colorMenu: #a2c887;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  margin: auto;
  max-width: 100rem;
  height: 100%;
  padding: 2rem;
}
main {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
/* Global */
header nav ul li a,
footer nav ul li a {
  font-family: var(--tekstFont);
  font-size: var(--h4);
  font-weight: var(--fontWeight1);
  color: var(--colorMenu);

  text-decoration: none;
}
header nav ul li,
footer nav ul li {
  list-style: none;
  /* outline: dashed 2px rgb(0, 255, 13); */
}
h1 {
  font-family: var(--tekstFont);
  font-weight: var(--fontWeight1);
  font-size: var(--h1);
}
h2 {
  font-family: var(--tekstFont);
  font-weight: var(--fontWeight1);
  font-size: var(--h2);
}
h3 {
  font-family: var(--tekstFont);
  font-weight: var(--fontWeight1);
  font-size: var(--h3);
}
h4 {
  font-family: var(--tekstFont);
  font-weight: var(--fontWeight2);
  font-size: var(--h4);
}
p,
li {
  font-family: var(--tekstFont);
  font-weight: var(--fontWeight1);
  font-size: var(--pSize);
  line-height: 1.6;
}
.h2Underline {
  max-width: 20rem;
  min-width: 15rem;

  height: 5px;
  background-color: var(--colorMenu);

  border-radius: 2px;
}
.h2Underline:not(#education div, #experience div) {
  margin: 0.2rem 0 2rem 0;
}

section.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  margin-bottom: 8rem;
}
section.container h2 {
  grid-column: 1/-1;
  grid-row: 1;
}
section.container .h2Underline {
  grid-column: 1/-1;
  grid-row: 2;
}
.dot-active {
  &::before {
    background: rgb(0, 0, 0);
    border-radius: 50px;
    clip-path: circle(45% at 50% 50%);
  }
}
