@font-face {
  font-family: kalam, sans-serif;
  src: url(/src/assets/fonts/Kalam-Bold.ttf);
}

:root {
  --tekstFont: kalam;

  --fontSizeMenu: 1.5rem;
  --fontWeightMenu: 600;
  --colorMenu: #a2c887;
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/* Global */
nav ul li a {
  font-family: var(--tekstFont);
  font-size: var(--fontSizeMenu);
  font-weight: var(--fontWeightMenu);
  color: var(--colorMenu);

  text-decoration: none;
}
nav ul li {
  list-style: none;
  /* outline: dashed 2px rgb(0, 255, 13); */
}

body {
  margin: auto;
  width: 90%;
  height: 100%;
  background-color: rgb(218, 196, 168);
  outline: dashed 2px red;
}

header {
  background-image: linear-gradient(
      260deg,
      rgb(0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 35%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(/src/assets/img/DSC08462Flip.png);
  background-repeat: no-repeat;
  background-position: 30% 18%;

  border-radius: 1rem;
  border: solid 0.4rem rgb(15, 15, 15);

  height: 30rem;
}
