---
import SkillsSection from "../components/SkillsSection.astro";
import Layout from "../layouts/Layout.astro";
import "../pages/css/global.css";
---

<Layout>
  <main>
    <SkillsSection />
  </main>
  <footer></footer>
</Layout>
