---
import SkillsSection from "../components/SkillsSection.astro";
import About from "../components/About.astro";

import Layout from "../layouts/Layout.astro";
import "../pages/css/global.css";
---

<Layout>
  <main>
    <SkillsSection />
    <About />
  </main>
  <footer></footer>
</Layout>
