---
import "../pages/css/animation.css";
---

<header>
  <nav>
    <ul>
      <li><a class="menuBtn" href="#">Home</a></li>
      <li><a class="menuBtn" href="#">Home</a></li>
      <li><a class="menuBtn" href="#">Home</a></li>
      <li><a class="menuBtn" href="#">Home</a></li>
    </ul>
  </nav>
</header>

<style>
  nav {
    height: 100%;
    padding: 5rem 2rem;
  }
  nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    row-gap: 0.5rem;
  }
  li {
    grid-column: 2/-1;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    width: 100%;
    height: 2.5rem;
    line-height: 1.5;
  }
  li a {
    text-align: end;
  }
</style>

<script>
  let menuBnt = document.querySelectorAll("li");
  menuBnt.forEach((Bnt) => {
    Bnt.addEventListener("mouseenter", () => {
      Bnt.innerHTML += `<div id="line" class="aHover"></div>`;
    });
    Bnt.addEventListener("mouseleave", () => {
      let divn = document.getElementById("line") as HTMLElement;
      Bnt.removeChild(divn);
    });
    Bnt.addEventListener("click", () => {
      let divn = document.getElementById("line") as HTMLElement;
      Bnt.removeChild(divn);
    });
  });
</script>
