---
import Programs from "../components/Programs.astro";

const programs = await fetch(
  "https://wnstsgdtfjtdgnznycir.supabase.co/rest/v1/Programs?select=*",
  {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Induc3RzZ2R0Zmp0ZGduem55Y2lyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDA1OTQ0NDEsImV4cCI6MjA1NjE3MDQ0MX0.gWutEk68vgYO18NOAbycXzhb1JJXOiGhCMSr5Szp3lo",
    },
  }
).then((programList) => programList.json());
---

<section id="qualifications" class="container">
  <h2>Qualifications</h2>
  <div class="h2Underline"></div>
  <div id="programs">
    {
      programs.map((program) => {
        return <Programs programdata={program} />;
      })
    }
  </div>
</section>
<style>
  #qualifications {
    scroll-margin-top: 100px;
    container: container / inline-size;
    /* outline: dashed 2px red; */
  }
  #programs {
    grid-column: 1/-1;
    margin-inline: auto;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 3rem;
  }
  @container container (width > 700px) {
    #programs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      column-gap: 2rem;
    }
  }
  @container container (width > 1000px) {
    #programs {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto;
      column-gap: 2rem;
    }
  }
</style>
